body {
	background-color: #c4f8fd;
	font-family: Helvetica;
	font-weight: 200;
	text-align: center;
}
.container {
	font-family: Helvetica;
	font-weight: 200;
  margin: 20px auto;
  padding: 30px 20px 20px 20px;
  width: 600px;
  text-align: center;
}
.btn {
	background-color: orange;
	border: none;
	color: white;
	display: inline-block;
	font-family: Helvetica;
	font-weight: 200;
}
h1 {
	font-family: 'Pacifico', cursive;
	font-size: 56px;
}
#title {
	margin: 100px 0px 0px 0px;
}
h3 {
	font-family: 'Pacifico', cursive;
}
